concurrent = 1

[[runners]]
  url = "<%= url %>"
  token = "<%= token %>"
  name = "<%= runner_name %>"
  executor = "shell"
  [runners.ssh]
  [runners.docker]
    image = ""
    privileged = false
  [runners.parallels]
    base_name = ""
